{% extends 'base.html' %} {% block body %}
<div class="page-header">
  <div class="row">
    <div class="col text-center">
      <div class="title"><h4>Books</h4></div>
    </div>
  </div>
</div>
  <div class="pd-20 card-box mb-30">
    <div class="col-md-12 col-sm-12">
      {% if books %}
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Published Date</th>
          {% comment %}
          <th>Books Published</th>
          {% endcomment %}
        </tr>
        {% for book in books %}
        <tr>
          <td><a href="{{book.get_absolute_url}}">{{book.title}}</a></td>
          <td><a href="{{book.get_absolute_url}}">{{book.author.get_fullname}}</a></td>
          <td><a href="{{book.get_absolute_url}}">{{book.published_date}}</a></td>
          {% comment %} <td><a href="#">{{book.author.first_name}}</a></td> {% endcomment %}
        </tr>
        {% endfor %}
      </table>
      {% endif %} {% comment %}
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">blank</li>
        </ol>
      </nav>
      {% endcomment %}
    </div>
    {% comment %}
    <div class="col-md-6 col-sm-12 text-right">
      <div class="dropdown">
        <a
          class="btn btn-primary dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
        >
          January 2018
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Export List</a>
          <a class="dropdown-item" href="#">Policies</a>
          <a class="dropdown-item" href="#">View Assets</a>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
</div>
{% endblock %}
